.width100 {
    width: 100%;
}

.text-white {
    color: white;
}

.card.line {
    position: relative;
    top: -1.5rem;
    margin: 0.3rem;
    margin-bottom: -1.5rem;
    border: 1px solid #ffffff;
    padding: 0.2rem;
    background: transparent;
    box-shadow: 0 0 0 0;
}

.card.line .card-content {
    background: #ffffff;
    border-radius: 0.1rem;
    box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.3);
}

.title-separate {
    background: url("../img/avatar.png") center no-repeat;
    /*padding: 3rem;*/
    margin: 1.8rem auto;
    text-align: center;
    font-weight: 600;
}

.title-separate .line {
    position: relative;
    top: -0.5rem;
    height: 1px;
    width: 3rem;
    margin: auto 10px;
    border-bottom: 1px solid red;
    padding: 0 20px;
}

.vip-card {
    margin: -0.2rem 0.5rem 1.2rem 1.4rem;
    background: url('../img/card.png') no-repeat;
    background-size: contain;
    height: 9rem;
    color: #ffffff;
    padding: 0.5rem 1rem;
}

.vip-card .text-xs {
    padding-top: 3.5rem;
    font-size: 0.8rem;
}

.vip-card .text-lg .button {
    /*margin-right: 1.5rem;*/
    margin-top: 3px;
    background: transparent;
    border: 1px solid #ffffff;
    font-size: 0.8px;
}

.vip-card .text-lg {
    /*padding-top: 5rem;*/
    font-size: 1.2rem;
    margin-right: 20px
}

.content-block-title img {
    width: 1.2rem;
    height: 1.2rem;
    float: left;
    margin-right: 0.5rem;
}

.content-block-title .text {
    line-height: 1.5rem;
    font-weight: 600;
}

.text-black {
    color: #111111;
    font-weight: 600;
}

.text-xs {
    font-size: 0.5rem;
}

.user-info {
    padding: 1rem 0.5rem;
    background: black;
    font-size: 0.7rem;
}
/*61.160.235.13 sharejoy0520!@#$*/
.user-info .avater {
    float: left;
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}

.icon {
    width: 15px;
    height: 15px;
    margin-bottom: 3px;
}
.text-grey{
    color: #8e8e93;
}

