@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot?t=1458543509'); /* IE9*/
    src: url('../iconfont/iconfont.eot?t=1458543509#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff?t=1458543509') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf?t=1458543509') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg?t=1458543509#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

a, a:focus, a:hover {
    color: black;
}

a.text-white:focus,a.text-white:hover,a.text-white{
    color: #ffffff;
}

.bg-white {
    background: white
}

.bg-orange {
    background-color: #ff6966;
}

.text-black {
    color: black;
}

.text-orange {
    color: #ff6966;
}

.text-shit {
    color: #bfb787;
}

.text-white {
    color: white;
}

.text-grey {
    color: #a4a4a4;
}
.bg-grey {
    background: #a4a4a4;
}
.text-blue {
    color: #93cbf1;
}

.bg-grey-white {
    background: #f0f0f0;
}

.padding-xxs {
    padding-left: 5px;
}

.back {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.75);
    background-size: cover;
}

.back .box {
    color: #FFFFFF;
}

.second-title {
    border-style: solid;
    border-width: 1px 0;
    border-color: #e3e3e3;
    background: #f0f0f0;
    color: #a4a4a4;
}

.title {
    border-style: solid;
    border-width: 1px 0;
    border-color: #e3e3e3;
    background: #f0f0f0;
    color: #a4a4a4;
    padding: 1.8rem 0 1.4rem;
}

.flag-border {
    line-height: 18px;
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 5px 5px 0;
}

.icon {
    width: 24px;
    height: 24px
}

.am-modal-dialog {
    border-radius: 5px;
}

.icon1 {
    width: 17px;
    height: 17px;
    vertical-align: text-bottom;
}

.icon .icon-text {
    position: relative;
    top: -14px;
    left: -8px
}

.activity-img {
    letter-spacing: normal;
    position: relative;
    text-align: right;
    top: -22px;
    right: 2.5em;
}

.activity-arrow {
    position: absolute;
    top: 20%;
    right: 10px
}

.hide {
    display: none;
}

.button {
    padding: 5px 12px;
    color: white;
    background: #ff6966;
}

.am-icon-border {
    border-width: 2px;
}

hr {
    margin: 0;
}

.am-padding-vertical {
    padding: 23px 0;
}

.border {
    border: 1px solid #eeeeee;
}

.border-radius {
    border-radius: 5px;
}

.equal-height {
    margin-bottom: -3000px;
    padding-bottom: 3000px;
}

.am-header-default .am-header-nav {
    color: black;
}

.am-header-default .am-header-nav > a {
    color: #ff6966;
}

.am-btn:focus, .am-btn:hover {
    color: white;
    text-decoration: none;
}

input:not([type=radio]):not([type=checkbox]), select {
    vertical-align: bottom;
}

input {
    text-align: center;
    border-width: 0 0 2px;
    width: 50%;
    outline: none;
}

.liner {
    height: 6px;
    background: linear-gradient(to bottom, #e3e3e3, #f0f0f0);
    border: 1px solid #e2e2e2;
    border-width: 1px 0;
}

.button1 {
    width: 6rem;
    height: 2.3rem;
    color: white;
    background-color: #ff6966;
    border-radius: 3px;
    text-align: center;
    vertical-align: text-top;
}

.btn {
    padding: 4px 6px;
    color: white;
    background: #ff6966;
    border-radius: 3px;
}

.margin-push {
    margin-left: -8px;
}

.msg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 38px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    background: #ff6966;
    z-index: 9000;
}

/*雪碧图*/
.bg {
    background: url('../images/compact.png') no-repeat;
    overflow: hidden;
}

.download {
    padding: 0 15px 12px;
    background-position: -0px -0px;
}

.icon2 {
    background-position: -175px -0px;
}

.CHARGE {
    background-position: -31px -0px;
}

.star {
    padding: 0 20px;
    background-position: -425px -0px;
    vertical-align: bottom;
    line-height: 8px;
}

.exchange {
    background-position: -55px -0px;
}

.admin {
    background-position: -343px -0px;
    padding: 0 9px 10px 10px;
}

.dollar {
    height: 18px;
    width: 32px;
    margin: auto;
    background-position: -362px -0px;
}

.pay {
    background-position: -394px -0px;
}

.oval {
    background: url('../images/compact.png') -409px -0px no-repeat;
}

/*动画加载*/
.loader {
    width:25px;
    height:25px;
    border-radius:100%;
    border:3px #fffdef solid;
    margin: 10px auto 5px;
    border-right-color:rgba(0,0,0, 0.1);
    border-bottom-color:rgba(0,0,0, 0.1);
    -webkit-animation: loader 1s infinite;
    animation: loader 1s infinite;
    animation-timing-function:linear;
    -webkit-animation-timing-function:linear;
}
.loader-bg{
    background-color:rgba(0, 0, 0, 0.6);;
    width: 120px;
    height: 70px;
    position: fixed;top:0;bottom: 0;left: 0;right: 0;
    margin: auto;
    color:#fff;
    font-size: 14px;
    z-index: 2;
    border-radius: 5px;
    text-align:center;
}
@keyframes loader {
    from {transform: rotate(0deg);}
    to {transform: rotate(370deg);}
}
@-webkit-keyframes loader {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(370deg);}
}
/*领券*/
.button_border {
    border: 1px solid #f1c2a4;
    color: #f1c2a4;
}

/*垂直翻转*/
.flipy {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);

}

.rotate1 {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate2 {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


/*svg sprite begin*/
.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.fill-color1 {
    fill: #ee5a49;
}
.fill-color2 {
    fill: #ee5a49;
}
.fill-color3 {
    fill: #ee5a49;
}
.fill-color4 {
    fill: #ffc943;
}
.fill-color5 {
    fill: #54c0ef;
}
.fill-color6 {
    fill: #f47a62;
}
.fill-color7 {
    fill: #73e7f4;
}
.fill-color8 {
    fill: #af94f8;
}
.fill-color9 {
    fill: #fff;
}
.fill-color10 {
    fill: #FFA4A9;
}
.fill-color11 {
    fill: #fefefe;
}

/*svg sprite*/

/*pay begin*/
.payment {
    background: #ff6966;
    color: white;
    padding: 10px
}
.payment img{
    width: 25px;
    height: 25px;
}

.payment .left {
    width: 40px;
    padding-top: 2px
}

.payment .right {
    margin-left: 40px;
    width: calc(100% - 40px)
}

.payment .right p {
    margin: 0;
    padding: 5px;
    font-size: 14px;
    text-align: justify;
}

.oval-icon {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #b2b2b2;
    margin: 3px 0;
}

.oval-icon-border {
    width: 18px;
    height: 18px;
    padding: 2px;
    border: 1px solid #ff6966;
    border-radius: 18px;
}

.oval-icon-border .oval-icon {
    background: #ff6966;
    margin: 0;
}

.procedure {
    border-bottom: 1px solid #eee;
}

.procedure .am-u-sm-offset-1 [class^=am-u-sm-] {
    padding: 0;
}

.procedure .am-u-sm-offset-1 [class^=am-u-sm-] .text {
    font-size: 14px;
    color: #a4a4a4;
    margin-left: -20px;
    padding-bottom: 10px;
}

.procedure .am-u-sm-offset-1 [class^=am-u-sm-] .line {
    position: relative;
    width: calc(100% - 40px);
    height: 1px;
    background: #a4a4a4;
    left: 25px;
    top: -10px
}

/*2*/
.am-g:after {
    /*content: " ";*/
    /*height: 50px*/
}

.footer-button{
    position: fixed;bottom: 0;
    color: white;
    border-top : 1px solid #eee;
    padding: 16px auto;
    background: white;
}
.plan img{
    width:15px;
    height: 15px;
    margin-right: 5px;
    margin-top: -1px;
}

.plan-box {
    border: 1px solid #eee;
    margin: 0 10px;
}

.plan-box .left {
    /*width: 90px;*/
    padding: 15px 0 15px 15px;
}

.plan-box .right {
    padding: 15px;
    margin-left: 80px;
    min-height: 93px;
}
.choose:last-child hr{
    display: none;
}
.plan-box .unpart{
    background: #eee;
    padding: 5px;
}
.plan-box:focus ,.plan-box-focus{
    box-shadow: 0 0 3px #ff6966;
    background: url("../images/pay/selected.png") no-repeat;
    background-position: right top;
    padding: 1px;

}

/*3*/
.rule {
    border: 3px solid #ff6966;
    padding: 10px 10px 15px;
}

.rule .text {
    color: #a4a4a4;
    font-size: 14px;
    padding: 6px 0 4px;
}

.rule .box .right {
    float: right;
    color: #ff6966;
}

.rule .box {
    border: 1px solid #eee;
    background: #fff7e9;
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 5px;
}
/*pay end*/